<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Tasks.Git" version="1.1.0-beta-20204-02" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.FrameworkUdk" version="1.1.0-CI-22541.1001.220207-1139.1" targetFramework="native" />
  <package id="Microsoft.SourceLink.Common" version="1.1.0-beta-21055-01" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.1.0-beta-20204-02" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.210722.2" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.210930.1" targetFramework="native" />
</packages>