<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />https://microsoft.visualstudio.com/OS/_packaging?_a=feed&feed=WilInternal
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="ProjectReunion-Dependencies" value="https://pkgs.dev.azure.com/ms/ProjectReunion/_packaging/ProjectReunion-Dependencies/nuget/v3/index.json" />
    <add key="Wil-Internal" value="https://pkgs.dev.azure.com/microsoft/OS/_packaging/WilInternal/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
      <clear />
  </disabledPackageSources>
</configuration>
