<?xml version="1.0" encoding="utf-8"?>
<!-- NuGet configuration for external (open-source) contributors.
     Use this instead of NuGet.config when you don't have access to the internal Microsoft feed.
     Usage: nuget restore WindowsAppRuntime.OSS.slnf -configfile NuGet.OSS.config -->
<configuration>
  <config>
    <add key="repositoryPath" value="Packages" />
    <add key="globalPackagesFolder" value="Packages" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="WindowsAppSDK Local" value="tools/nuget" />
    <add key="localpackages" value="localpackages" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
</configuration>
