<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>

  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="ProjectReunion-Dependencies" value="https://pkgs.dev.azure.com/ms/ProjectReunion/_packaging/ProjectReunion-Dependencies/nuget/v3/index.json" />
    <add key="DCPP" value="https://pkgs.dev.azure.com/microsoft/_packaging/DCPP/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
      <clear />
  </disabledPackageSources>
</configuration>
