<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- defaultPushSource key works like the 'defaultPushSource' key of NuGet.Config files. -->
	<!-- This can be used by administrators to prevent accidental publishing of packages to nuget.org. -->
	<packageRestore>
		<!-- Allow NuGet to download missing packages -->
		<add key="enabled" value="True" />

		<!-- Automatically check for missing packages during build in Visual Studio -->
		<add key="automatic" value="True" />
	</packageRestore>
	<!-- Default Package Sources; works like the 'packageSources' section of NuGet.Config files. -->
	<!-- This collection cannot be deleted or modified but can be disabled/enabled by users. -->
	<packageSources>
		<clear />
		<add key="AppStreaming.PackagingServices.Artifacts" value="https://microsoft.pkgs.visualstudio.com/e5eacce6-e3c3-419d-8369-be08b90e763b/_packaging/AppStreaming.PackagingServices.Artifacts/nuget/v3/index.json" />
	</packageSources>
</configuration>