<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="Packages" />
    <add key="globalPackagesFolder" value="Packages" />
  </config>
  <packageSources>
    <clear />
    <add key="ProjectReunion internal" value="https://microsoft.pkgs.visualstudio.com/ProjectReunion/_packaging/Project.Reunion.nuget.internal/nuget/v3/index.json" />
    <add key="WindowsAppSDK Local" value="tools/nuget" />
    <add key="localpackages" value="localpackages" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
</configuration>
