<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
    <add key="globalPackagesFolder" value="packages" />
  </config>
  <packageSources>
    <clear />
    <add key="ProjectReunion internal" value="https://microsoft.pkgs.visualstudio.com/ProjectReunion/_packaging/Project.Reunion.nuget.internal/nuget/v3/index.json" />
    <add key="WindowsAppSDK Protobuf" value="tools/nuget" />
  </packageSources>

  <disabledPackageSources>
    <clear />
  </disabledPackageSources>

<!--
  <packageSourceMapping>
    <packageSource key="WindowsAppSDK Protobuf">
      <package pattern="Microsoft.WindowsAppSDK.Protobuf.*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceMapping>
    <packageSource key="ProjectReunion internal">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
-->
</configuration>
