<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="TAEF" value="https://pkgs.dev.azure.com/ms/microsoft-ui-xaml/_packaging/MUX-Dependencies/nuget/v3/index.json" />
    <add key="winui" value="https://www.nuget.org/packages/Microsoft.WinUI" />
    <add key="mrtcore" value="https://mscodehub.visualstudio.com/mrtcore/_packaging?_a=feed%26feed=MRTCore" />
    <add key="cppwinrt" value="https://www.nuget.org/packages/Microsoft.Windows.CsWinRT/" />
    <add key="runtime.win7.System.Private.Uri" value="https://www.nuget.org/packages/runtime.win7.System.Private.Uri/" />
  </packageSources>
</configuration>