// Copyright (c) Microsoft Corporation and Contributors.
// Licensed under the MIT License.

#include <winresrc.h>
#define VERSIONINFO_FILENAME "PushNotificationsLongRunningTask.StartupTask.exe"
#define VERSIONINFO_FILETYPE VFT_APP
#include "build\VersionInfo\AssemblyInfo.ver"
