<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap mp rescap">
  <Identity
    Name="AccessControlTestUWP"
    Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
    Version="1.0.0.0"
    ResourceId="en-us"/>
  <mp:PhoneIdentity PhoneProductId="1ea68fdd-88ac-47b0-ba8a-747427ad986c" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>AccessControlTestUWP</DisplayName>
    <PublisherDisplayName>ProjectReunion</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="TE.ProcessHost.UAP.exe" EntryPoint="ProcessHostApplication">
      <uap:VisualElements DisplayName="ProjectReunionCppTest_UWP" Description="Project for a single page C++/WinRT Universal Windows Platform (UWP) app with no predefined layout"
        Square150x150Logo="taef.png" Square44x44Logo="taef.png" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="taef.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="taef.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="broadFileSystemAccess" />
  </Capabilities>
</Package>