<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Taef" version="10.58.210222006-develop" targetFramework="native" />
  <package id="Microsoft.Taef.Redist.Wlk" version="10.52.200221001" targetFramework="native" />
  <package id="Microsoft.VCRTForwarders.140" version="1.0.7" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.210326.8" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.200519.2" targetFramework="native" />
</packages>