<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap5 com rescap">

  <Identity
    Name="ProjectReunion.Test.DynDep.Main.Sidecar"
    Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
    Version="4.1.1967.333" />

  <Properties>
    <DisplayName>ProjectReunion.Test.DynDep.Main.Sidecar</DisplayName>
    <PublisherDisplayName>Project Reunion</PublisherDisplayName>
    <Logo>Assets\logo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en"/>
  </Resources>

  <Extensions>
    <Extension Category="windows.activatableClass.proxyStub">
      <ProxyStub ClassId="32e7cf70-038c-429a-bd49-88850f1b4a11">
        <Path>Main.Sidecar.LifetimeManager.ProxyStub.dll</Path>
        <Interface Name="IDynamicDependencyLifetimeManager" InterfaceId="06f1bad0-dd14-11d0-ab8f-0000c0148fdb" />
      </ProxyStub>
    </Extension>
  </Extensions>

  <Applications>
    <Application Id="App"
      Executable="Main.Sidecar.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Main.Sidecar"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="ProjectReunion Test DynamicDependency Main.Sidecar"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" uap5:Optional="true"/>
      </uap:VisualElements>
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="Main.Sidecar.exe" DisplayName="ProjectReunion Test DynDep Main.Sidecar">
              <!-- ProgId.length must be <= 39 on builds < 10.0.18256.0. "TestDynDepMainSidecar.MyLifetimeManager.1" = 41 chars. Shrink the name a tad to fit -->
              <com:Class Id="32E7CF70-038C-429a-BD49-88850F1B4A11" DisplayName="ProjectReunion Test DynDep Main.Sidecar MyLifetimeManager" ProgId="TestDynDepMainSide.MyLifetimeManager.1" VersionIndependentProgId="TestDynDepMainSide.MyLifetimeManager">
              </com:Class>
            </com:ExeServer>
            <com:ProgId Id="TestDynDepMainSide.MyLifetimeManager" CurrentVersion="TestDynDepMainSide.MyLifetimeManager.1" />
            <com:ProgId Id="TestDynDepMainSide.MyLifetimeManager.1" Clsid="32E7CF70-038C-429a-BD49-88850F1B4A11" />
          </com:ComServer>
        </com:Extension>
        <com:Extension Category="windows.comInterface">
          <com:ComInterface>
            <!-- IID_IDynamicDependencyLifetimeManager -->
            <com:Interface Id="06F1BAD0-DD14-11d0-AB8F-0000C0148FDB" UseUniversalMarshaler="true"/>
          </com:ComInterface>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
