<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.FrameworkUdk.amd64fre" version="10.0.21324.1000-210225-1000.rs-wdx-dxp-ixp1" targetFramework="native" />
  <package id="Microsoft.FrameworkUdk.arm64fre" version="10.0.21324.1000-210225-1000.rs-wdx-dxp-ixp1" targetFramework="native" />
  <package id="Microsoft.FrameworkUdk.x86fre" version="10.0.21324.1000-210225-1000.rs-wdx-dxp-ixp1" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.200729.8" targetFramework="native" />
</packages>