// Copyright (c) Microsoft Corporation and Contributors.
// Licensed under the MIT License.

#include <winresrc.h>
#define VERSIONINFO_FILENAME "PurojekutoTenpuret.exe"
#include "eng\common\VersionInfo\AssemblyInfo.ver"
