<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Tasks.Git" version="1.1.1" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.1.1" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.1.1" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.230706.1" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.240803.1" targetFramework="native" />
  <package id="Microsoft.FrameworkUdk" version="1.8.0-CI-26107.1720.241003-1631.3" targetFramework="native" />
  <package id="Microsoft.ProjectReunion.InteractiveExperiences.TransportPackage" version="1.8.0-CI-26107.1720.241003-1631.3" targetFramework="native" />
</packages>
