<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.FrameworkUdk.amd64fre" version="10.0.22380.1000-210512-1327.rs-wdx-dxp-ixp1.modanish" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.200703.9" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.200519.2" targetFramework="native" />
</packages>