name: Build CI Main

# Controls when the action will run. Triggers the workflow on pull requests
# for the target branch
on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - 'docs/**'
      - 'specs/**'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: checkout project
      uses: actions/checkout@v4

    - name: setup msbuild
      uses: microsoft/setup-msbuild@v2

    - name: setup nuget
      uses: NuGet/setup-nuget@v2

    - name: run DevCheck (generate test cert and nuget.exe)
      run: .\DevCheck.cmd -CheckTestPfx -CheckNugetExe -FixAll -NoInteractive
      shell: cmd

    - name: generate build overrides
      run: |
        .\tools\GenerateDynamicDependencyOverrides.ps1 -Path "build\override"
        .\tools\GeneratePushNotificationsOverrides.ps1 -Path "build\override"
      shell: pwsh

    - name: restore project packages (OSS)
      run: nuget restore WindowsAppRuntime.OSS.slnf -configfile NuGet.OSS.config -NonInteractive

    - name: build x64
      run: msbuild /m /p:Configuration=Release /p:Platform=x64 /p:BuildForOSS=true WindowsAppRuntime.OSS.slnf
