// Copyright (c) Microsoft Corporation and Contributors.
// Licensed under the MIT License.

#include <winresrc.h>
#define VERSIONINFO_FILENAME "DynamicDependencyLifetimeManager.ProxyStub.dll"
#include "build\VersionInfo\AssemblyInfo.ver"
